html, body{
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}


.bg-offwhite {
    background-color: #D4DFE9;
}

.bg-primary {
    background-color: #283491;
}

.hover\:bg-primary-100:hover {
    background-color: #1d287f;
}

.border-primary {
    border-color: #283491;
}

.text-primary {
    color: #111a62;
}

.bg-secondary {
    background-color: #825ED1;
}

.border-secondary {
    border-color: #825ED1;
}

.text-secondary {
    color: #825ED1;
}

#preloader__svg path {
    stroke-dasharray: 2000;
    stroke-width: 5;
    fill:none;
    stroke: #825ED1;
    stroke-dashoffset: 2000;
    animation: dash 500ms ease-in-out forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.preloader-exit{
    animation: exit 1s ease-in-out forwards;
}

@keyframes exit {
    from {
        bottom : 0;
    }
    to {
        bottom : -100%;
    }
}
