.bg-offwhite {
    background-color: #D4DFE9;
}

.bg-primary {
    background-color: #283491;
}

.text-primary {
    color: #283491;
}

.bg-secondary {
    background-color: #825ED1;
}

.text-secondary {
    color: #825ED1;
}